<div class="container">
  <div class="header">
    <h1>Library</h1>
    <button type="button" class="btn btn-outline-info btn-sm" (click)="addCategory()">+ Category</button>
  </div>
  <hr>
  <div *ngFor="let category of library.categories">
    <div class="header">
      <h2>{{category.title}}</h2>
      <div>
        <button type="button" class="btn btn-outline-info btn-sm" (click)="addCategoryItem(category.title)">+ Item</button>
        &nbsp;
        <button type="button" class="btn btn-outline-info btn-sm" (click)="addSubcategory()">+ Subcategory</button>
      </div>
    </div>
    <div>
      <div *ngIf="category.items.length > 0">
        <app-item *ngFor="let item of category.items" [item]="item" class="item"></app-item>
        <br>
      </div>
      <div *ngIf="category.subcategories.length > 0">
        <div *ngFor="let subcategory of category.subcategories" class="subcategory">
          <div class="header">
            <h4>{{subcategory.title}}</h4>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="addSubcategoryItem()">+ Item</button>
          </div>
          <div>
            <app-item *ngFor="let item of subcategory.items" [item]="item" class="item"></app-item>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <hr *ngIf="category.subcategories.length === 0">
  </div>
  <div style="display: flex; justify-content: space-evenly;">
    <!-- Import button -->
    <input type="file" id="file" (change)="import($event)" #importFileUpload style="display: none;">
    <button class="btn btn-danger btn-lg" (click)="importFileUpload.click()">Import</button>
    <!-- Export button -->
    <button *ngIf="library.categories.length > 0" class="btn btn-primary btn-lg" (click)="export()">Export</button>
  </div>
  <br>
</div>